@tailwind base;
@tailwind components;

.active {
  @apply cursor-default text-red-new;
}

@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.logo {
    font-family: "Alex Brush", cursive;
}

@media (min-width: 640px) {
  .two-col {
    column-count: 2;
    column-gap: 2rem;
  }
  
  .three-col {
    column-count: 3;
    column-gap: 2rem;
  }
}

/* Dark mode classes */

body.dark-mode {
  @apply bg-blue-900;
  @apply text-white;
}

body.dark-mode input,
body.dark-mode select {
  @apply bg-blue-900;
  @apply text-white;
}
body.dark-mode .bg-white {
  @apply bg-blue-900;
}

body.dark-mode .bg-red-100 {
  @apply bg-blue-800;
}

body.dark-mode svg,
body.dark-mode p,
body.dark-mode span,
body.dark-mode a:not(.logo),
body.dark-mode h1, 
body.dark-mode h2, 
body.dark-mode h3,
body.dark-mode .text-gray-900 {
  @apply text-white;
}