@tailwind base;
@tailwind components;

.active {
  @apply cursor-default;
  @apply text-red-new;
}

#logo {
  content: url("/images/logo.png");
}

html {
  @apply overflow-y-scroll;
  @apply bg-white;
}

@media (min-width: 640px) {
  .two-col {
    column-count: 2;
    column-gap: 2rem;
  }

  .three-col {
    column-count: 3;
    column-gap: 2rem;
  }
}

/***********************\
|DARK MODE SECTION START|
\***********************/

body.dark-mode {
  @apply bg-black;
  @apply text-white;
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
  @apply bg-black;
  @apply text-white;
}
body.dark-mode .bg-white {
  @apply bg-black;
}

body.dark-mode .bg-red-100 {
  @apply bg-gray-900;
}

body.dark-mode .bg-red-300 {
  @apply bg-blue-700;
}

body.dark-mode .bg-gray-100 {
  @apply bg-gray-900;
}

body.dark-mode .bg-green-100 {
  @apply bg-gray-500;
}

body.dark-mode .border-gray-100 {
  @apply border-gray-900;
}

body.dark-mode .border-gray-200 {
  @apply border-gray-800;
}

body.dark-mode .hover\:shadow-lg:hover {
  @apply border-blue-400;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode svg,
body.dark-mode span,
body.dark-mode blockquote,
body.dark-mode .text-gray-900 {
  @apply text-white;
}

body.dark-mode svg.text-red-new {
  @apply text-blue-400;
}

body.dark-mode #logo {
  content: url("/images/logo-blue.png");
}

body.dark-mode .active {
  @apply text-blue-400;
}

body.dark-mode .hover\:bg-gray-100:hover {
  @apply bg-gray-900;
}

body.dark-mode .hover\:text-red-new:hover {
  @apply text-blue-400;
}

body.dark-mode .bg-gray-200 {
  @apply bg-gray-800;
}

body.dark-mode .text-gray-600 {
  @apply text-gray-400;
}

body.dark-mode .hover\:bg-gray-300:hover {
  @apply bg-gray-700;
}

body.dark-mode .hover\:bg-gray-200:hover {
  @apply bg-gray-800;
}

/*********************\
|DARK MODE SECTION END|
\*********************/

@tailwind utilities;
