*:focus {
  outline: none;
}

* {
  -webkit-text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  overflow-y: scroll;

}

button {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: 0px;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0.5em 0;
  font-weight: 400;
  line-height: 1;
}
a {
  text-decoration: underline;
  color: inherit;
}
.art-scroll:hover,
.art-scroll:focus {
  color: rgb(220, 40, 40);
}
.ext-link {
  width: 0.6rem;
}

@media (max-width: 500px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 10px;
  }
}
